body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 1%;
  background-color: lightyellow;
  font-family: "Roboto", sans-serif; }

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 20%;
  background-color: white;
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5); }
  header .app_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; }
    header .app_name h3 {
      text-align: center;
      width: 80%;
      border: 1px solid pink;
      padding: 10px;
      color: pink; }
  header .user_main_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0; }
    header .user_main_info i {
      font-size: 30px;
      color: dodgerblue; }
    header .user_main_info .user_name {
      color: darkgray; }
  header .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; }
    header .navigation nav {
      display: flex;
      flex-direction: column;
      align-items: normal;
      justify-content: normal;
      width: 100%; }
      header .navigation nav .nav_item {
        color: darkgray;
        margin: 10px;
        text-decoration: none;
        padding: 7%;
        z-index: 1;
        text-transform: uppercase;
        letter-spacing: .2px;
        font-weight: 500; }
        header .navigation nav .nav_item:hover {
          cursor: pointer;
          background-color: pink;
          border-radius: 5%;
          border-left: 5px solid darkgray;
          transition: ease-out .3s; }

main.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 79%;
  background-color: #e3e2e2;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5); }
  main.home .expense_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; }
    main.home .expense_header div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      border-radius: 5%;
      margin: 5%;
      width: 20%;
      -webkit-box-shadow: 1px 1px 9px 5px rgba(255, 255, 255, 0.5);
      box-shadow: 1px 1px 9px 5px rgba(255, 255, 255, 0.5); }
  main.home .expense_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1%;
    height: 55%; }
    main.home .expense_block .expense_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      height: 100%;
      width: 35%;
      margin: 0 1%;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 9px 5px rgba(255, 255, 255, 0.5);
      box-shadow: 1px 1px 9px 5px rgba(255, 255, 255, 0.5); }
      main.home .expense_block .expense_form label#amount_spent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 20px;
        margin: 5%; }
        main.home .expense_block .expense_form label#amount_spent input {
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: lightyellow;
          width: 70%;
          padding: 2% 1%;
          font-size: 18px;
          box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5); }
      main.home .expense_block .expense_form label.expense_type {
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 20px; }
        main.home .expense_block .expense_form label.expense_type select {
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: lightyellow;
          width: 72%;
          padding: 2% 1%;
          font-size: 18px;
          box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5); }
      main.home .expense_block .expense_form .button {
        margin: 5%;
        width: 25%;
        background-color: dodgerblue;
        color: white;
        border: none;
        border-radius: 5px;
        height: 10%;
        font-size: 18px; }
  main.home .expense_analytics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 60%;
    margin: 0 1%;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 9px 5px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 9px 5px rgba(255, 255, 255, 0.5); }

main.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 79%;
  background-color: #e3e2e2;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5); }
  main.settings .total_amount_settings_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%; }
    main.settings .total_amount_settings_block .settings_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      height: 100%;
      width: 35%;
      margin: 0 1%;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 9px 5px rgba(255, 255, 255, 0.5);
      box-shadow: 1px 1px 9px 5px rgba(255, 255, 255, 0.5); }
      main.settings .total_amount_settings_block .settings_form label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 18px;
        margin: 5%; }
        main.settings .total_amount_settings_block .settings_form label input {
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: lightyellow;
          width: 70%;
          padding: 2% 1%;
          font-size: 18px;
          box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.5); }
      main.settings .total_amount_settings_block .settings_form .button {
        margin: 5%;
        width: 25%;
        background-color: dodgerblue;
        color: white;
        border: none;
        border-radius: 5px;
        height: 10%;
        font-size: 18px; }

div#wt-sky-root {
  display: none; }
