$font: "Roboto", sans-serif;
$shadow: 1px 1px 9px 5px rgba(0,0,0,0.5);
$shadow-webkit: 1px 1px 9px 5px rgba(0,0,0,0.5);

@mixin display-flex($aligned, $justified, $direction) {
  display: flex;
  flex-direction: $direction;
  align-items: $aligned;
  justify-content: $justified;
}

// body
body {
  @include display-flex(center, space-between, row);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 1%;
  background-color: lightyellow;
  font-family: $font;
}

// header
header {
  @include display-flex(flex-start, flex-start, column);
  height: 100%;
  width: 20%;
  background-color: white;
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: $shadow-webkit;
  box-shadow: $shadow;

  .app_name {
    @include display-flex(center, center, row);
    width: 100%;
    h3 {
      text-align: center;
      width: 80%;
      border: 1px solid pink;
      padding: 10px;
      color: pink;
    }
  }

  // user info
  .user_main_info {
    @include display-flex(center, center, column);
    width: 100%;
    margin: 15px 0;

    i {
      font-size: 30px;
      color: dodgerblue;
    }
    .user_name {
      color: darkgray;
    }
  }

  // navigation
  .navigation {
    @include display-flex(center, center, row);
    width: 100%;
    nav {
      @include display-flex(normal, normal, column);
      width: 100%;

      .nav_item {
        color: darkgray;
        margin: 10px;
        text-decoration: none;
        padding: 7%;
        z-index: 1;
        text-transform: uppercase;
        letter-spacing: .2px;
        font-weight: 500;

        &:hover {
          cursor: pointer;
          background-color: pink;
          border-radius: 5%;
          border-left: 5px solid darkgray;
          transition: ease-out .3s;
        }
      }
    }
  }
}

// home main
main.home {
  @include display-flex(center, space-around, column);
  height: 100%;
  width: 79%;
  background-color: #e3e2e2;
  border-radius: 5px;
  -webkit-box-shadow: $shadow-webkit;
  box-shadow: $shadow;

  // expense header
  .expense_header {
    @include display-flex(center, center, row);
    width: 100%;

    div {
      @include display-flex(center, space-around, column);
      background-color: white;
      border-radius: 5%;
      margin: 5%;
      width: 20%;
      -webkit-box-shadow: 1px 1px 9px 5px rgba(255,255,255,0.5);
      box-shadow: 1px 1px 9px 5px rgba(255,255,255,0.5);
    }
  }

  .expense_block {
    @include display-flex(center, space-between, row);
    width: 100%;
    margin: 1%;
    height: 55%;

    .expense_form {
      @include display-flex(center, center, column);
      background-color: white;
      height: 100%;
      width: 35%;
      margin: 0 1%;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 9px 5px rgba(255,255,255,0.5);
      box-shadow: 1px 1px 9px 5px rgba(255,255,255,0.5);

      label#amount_spent {
        @include display-flex(center, flex-start, column);
        width: 100%;
        font-size: 20px;
        margin: 5%;
        input {
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: lightyellow;
          width: 70%;
          padding: 2% 1%;
          font-size: 18px;
          box-shadow: $shadow;
          -webkit-box-shadow: $shadow-webkit;
        }
      }

      label.expense_type {
        margin: 5%;
        @include display-flex(center, flex-start, column);
        width: 100%;
        font-size: 20px;
        select {
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: lightyellow;
          width: 72%;
          padding: 2% 1%;
          font-size: 18px;
          box-shadow: $shadow;
          -webkit-box-shadow: $shadow-webkit;
        }
      }

      .button {
        margin: 5%;
        width: 25%;
        background-color: dodgerblue;
        color: white;
        border: none;
        border-radius: 5px;
        height: 10%;
        font-size: 18px;
      }

    }
  }

  .expense_analytics {
    @include display-flex(center, center, column);
    background-color: white;
    height: 100%;
    width: 60%;
    margin: 0 1%;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 9px 5px rgba(255,255,255,0.5);
    box-shadow: 1px 1px 9px 5px rgba(255,255,255,0.5);
  }

}

// Settings
main.settings {
  @include display-flex(center, space-around, column);
  height: 100%;
  width: 79%;
  background-color: #e3e2e2;
  border-radius: 5px;
  -webkit-box-shadow: $shadow-webkit;
  box-shadow: $shadow;

  .total_amount_settings_block {
    @include display-flex(center, center, column);
    width: 100%;
    height: 50%;

    .settings_form {
      @include display-flex(center, center, column);
      background-color: white;
      height: 100%;
      width: 35%;
      margin: 0 1%;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 9px 5px rgba(255,255,255,0.5);
      box-shadow: 1px 1px 9px 5px rgba(255,255,255,0.5);

      label {
        @include display-flex(center, flex-start, column);
        width: 100%;
        font-size: 18px;
        margin: 5%;
        input {
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: lightyellow;
          width: 70%;
          padding: 2% 1%;
          font-size: 18px;
          box-shadow: $shadow;
          -webkit-box-shadow: $shadow-webkit;
        }
      }

      .button {
        margin: 5%;
        width: 25%;
        background-color: dodgerblue;
        color: white;
        border: none;
        border-radius: 5px;
        height: 10%;
        font-size: 18px;
      }
    }

  }
}


div#wt-sky-root {
  display: none;
}